.form-wrapper {
  display: none;
  /* Começa escondido em todo lugar */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2000;
  align-items: center;
  justify-content: center;

  /* Padding de segurança para o card não encostar na borda do celular */
  padding: 2rem;
}



/* Quando o JS adicionar essa classe, ele aparece */
.form-wrapper.active {
  display: flex;
}


.form {
  grid-area: form;
  width: 100%;
  max-width: 512px;
  max-height: calc(100vh - 4rem);

  background-color: #232225;
  border-radius: 0.75rem;

  padding: 5rem;
  padding-bottom: 1.5rem;

  display: flex;
  flex-direction: column;

  overflow-y: auto;
}

.form>header {
  max-width: 21rem;
  margin-bottom: 1.5rem;
}

.form>header h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.form>header p {
  color: #98959d;
  font-size: 0.87rem;
}

.label {
  font-size: 1rem;
  color: #b2afb6;
  font-weight: 700;
}

.input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;

  width: 100%;
  height: 3rem;

  border: 1px solid #3e3c41;
  padding: 0.87rem 0.75rem;
  border-radius: 0.5rem;

  display: flex;
  margin-bottom: 1.5rem;
}

.input i {
  margin-right: 0.5rem;
}

.input input {
  flex: 1;

  font-family: "Inter", sans-serif;

  font-size: 1rem;
  color: #b2afb6;
  background-color: transparent;

  outline: none;
  border: none;
}

.input:focus-within {
  border: 1.5px solid #b8952e;
}

.form-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-top: 1.5rem;
}

.button {
  width: 100%;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 0.87rem;
  background-color: var(--content-brand);
  color: #050505;
  text-transform: uppercase;
  font-weight: 700;
  padding: 1rem 1.25rem;
  cursor: pointer;

  transition: filter 0.2s;
}

.input-icon,
.dropdown-icon {
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;

  pointer-events: none;
}

.button:hover {
  background-color: var(--content-brand-hover);
  transform: scale(1.02);
}

::-webkit-calendar-picker-indicator {
  cursor: pointer;
  background: url("../assets/icons/Calendar-Minimalistic--Streamline-Solar.svg") no-repeat;
}

.hours {
  width: 4.87rem;
  height: 2.5rem;

  border-radius: 0.5rem;

  font-size: 1rem;
  border: 1px solid #3e3c41;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.select-field {
  flex: 1;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;

  color: var(--content-primary);
  font-family: var(--paragraph);
  font-size: 1rem;
  cursor: pointer;

  position: relative;
  z-index: 1;

  appearance: none;
  --webkit-appearance: none;

  padding-right: 1.5rem;
}

.select-field option {
  background-color: #232225;
  /* Evita fundo branco no tema dark */
  color: #ffffff;
}

.input:has(.select-field) {
  display: flex;
  align-items: center;
  position: relative;
}

#date-container,
#hours-container {
  position: relative;
  cursor: pointer;
}

/* Classe para os inputs de data/hora que ficam por trás do texto */
.input-helper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  /* Invisível mas clicável */
  cursor: pointer;
}


@media (min-width: 68.75rem) {

  .form {
    align-items: center;
    max-width: 35rem;
    padding: 4rem;
  }

  .form-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centraliza os filhos horizontalmente */
    width: 100%;
    margin-top: 2rem;
    gap: 1rem;
  }

  #appointment-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .form>header,
  .label,
  .input {
    align-self: stretch;
    /* Garante que os outros itens continuem ocupando a largura toda */
  }

  .button {
    margin-left: auto;
    margin-right: auto;
    background-color: var(--content-brand);

    width: 100%;
    min-width: 160px;
    padding: 1rem 2.5rem;
    margin-top: 1.5rem;
    align-self: stretch;
    /* Botão Agendar no canto direito */
  }

  .button-cancel {
    background: transparent;
    color: var(--content-secondary);
    border: none;
    font-weight: 600;
    cursor: pointer;
  }

  .button-cancel:hover {
  color: var(--content-brand-hover);
  text-decoration: underline;
}
}